<!DOCTYPE html>
<html lang="en" ng-app="diary">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="prod/style.css">

</head>
<body ng-controller="diaryController as ctrl">
<div class="container-fluid">
    <div class="row">
        <div class="col-3 left-col">
            <h2>Записник</h2>
        </div>

        <div class="col-3"></div>

        <div class="col-4">
            <span>
                <h3>Назва нотатки</h3>
                <input type="text" placeholder="Введіть ім'я нотатки..." ng-model="ctrl.nameItems">
                <input type="submit" value="Додати" ng-click="ctrl.addItems()">

                <ul>
                    <li ng-repeat="item in ctrl.listItems track by $index" class="line">
                        <a href="" ng-click="ctrl.showComments($index)" class="article">{{item.text}}</a>
                        <span class="sumComments">{{item.comments.length}}</span>
                        <a href="" ng-click="ctrl.delItems($index)" class="del">Видалити</a>
                    </li>
                </ul>

            </span>
        </div>

        <div class="col-4" ng-if="ctrl.arrActiveItem">
            <span>
                <h3>Коментарі для нотатки #{{ctrl.numItem + 1}}</h3>
                <ul>
                    <li ng-repeat="item in ctrl.listItems[ctrl.numItem].comments track by $index">
                        <img src="img/image.png" class="sqCom">
                        <span class="comment">{{item.comment}}</span>
                        <hr>
                    </li>
                </ul>
                <!--<img src="img/image.png">-->
                <textarea name="" id="" cols="35" rows="3" ng-model="comment" ng-keydown="ctrl.keyStart($event.keyCode)"
                          ng-keyup="ctrl.keydown($event.keyCode, comment)"></textarea>
            </span>
        </div>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="prod/main.js"></script>
</body>
</html>